@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Optional scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 3px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(209, 211, 214, 0.8);
  border-radius: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Restore system fonts */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
